.image{
    margin-top: 50px;
    border: 25px solid rgb(218, 17, 17 ,0.5);
    border-radius: 50px;
}
.title{
 position: fixed;
}
form {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #45a049;
  }