
    

.container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    background-color: pink;
    padding: 30px;
}
.items{
    background-color: yellow;
    text-align: center;
    margin: 10px;
    height: 100px;
    width: 100px;
    border-radius:5px;
    border: solid black 2px;
    font-size: 100px;

}

.images{
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 50px;
    
   

}
.image{
    background-color: brown;
    width: 110px;
    margin: 10px;
    height: 110px;
    border-radius: 100px;
    padding: 30px;
}
img{
    border-radius: 50px;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 3px;
    

}
h6{
    margin: 0;
    text-align: center;
}